.btn {
    display: inline-block;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #015CDA;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    border-radius: 20px;
    cursor: pointer;
} 